<h1>Add Actor</h1>

<form action="/create_actor">
  <label for="actor_dob">Dob</label>
  <input type="text" name="actor_dob">
  <label for="actor_name">Name</label>
  <input type="text" name="actor_name">
  <label for="actor_bio">Bio</label>
  <input type="text" name="actor_bio">
    <label for="actor_url">Image url</label>
  <input type="text" name="actor_url">
  <button>Create Actor</button>
</form>
