<h1>Add Actor</h1>
<hr>
<div>
  <form class="" action="/create_actor">


  <div >
    <label>Dob</label>
    <input type="text" name="dob" value="">
  </div>
  <div >
    <label>Name</label>
    <input type="text" name="name" value="">
  </div>
  <div >
    <label>Bio</label>
    <input type="text" name="bio" value="">
  </div>
  <div >
    <label>Image url</label>
    <input type="text" name="image_url" value="">
  </div>
  <div>
    <button>CREATE ACTOR></button>
  </form>
  </div>
</div>
