actor<div class="page-header">
  <h1>Add actor</h1>
</div>

<form action="http://localhost:3000/create_actor">
  <div class="">
    <label for="title">Name:</label>
    <input type="text" name="name" placeholder="Title">
  </div>
  <div class="">
    <label for="title">Bio:</label>
    <input type="text" name="bio" placeholder="Year">
  </div>
  <div class="">
    <label for="title">Dob:</label>
    <input type="text" name="dob" placeholder="Duration">
  </div>
  <div class="">
    <label for="title">Image:</label>
    <input type="text" name="image" placeholder="Image">
  </div>
  <div class="">
    <div>
      <input type="submit" value="Create actor">
    </div>
  </div>

</form>
