<h1>Add A Director</h1>

<form action="http://localhost:3000/create_actor">
  <label>Name</label>
  <input type="text" name="the_name">

  <label>Bio</label>
  <input type="text" name="the_bio">

  <label>DOB</label>
  <input type="text" name="the_dob">

  <label>Image URL</label>
  <input type="text" name="the_image_url">

  <button>Create Director</button>
</form>
