<h1>Add Movie</h1>
<form action="http://localhost:3000/create_movie">
  <label for="title">Title:</label>
  <input name="movie_title" id="title" type="text" placeholder="Title"><br>
  <label for="year">Year:</label>
  <input name ="movie_year" id="year" type="text" placeholder="Year"><br>
  <label for="duration">Duration:</label>
  <input name ="movie_duration" id="duration" type="text" placeholder="Duration"><br>
  <label for="description">Description:</label>
  <input name ="movie_description" id="description" type="text" placeholder="Description"><br>
  <label for="url">Image URL:</label>
  <input name ="image_url" id="url" type="text" placeholder="URL"><br>
  <button>Create Movie</button>
</form>
