<div class="page-header">
<h1>Add Movie</h1>
</div>

<form action="/create_movie">

<div>
<label>Title</label>
</div>
<div>
<input name="title" placeholder="Title">
</div>

<div>
<label>Year</label>
</div>
<div>
<input name="year" placeholder="Year">
</div>

<div>
<label>Duration</label>
</div>
<div>
<input name="duration" placeholder="Duration">
</div>

<div>
<label>Description</label>
</div>
<div>
<textarea name="description" placeholder="Description"></textarea>
</div>

<div>
<label>Image_URL</label>
</div>
<div>
<input name="image_url" placeholder="URL">
</div>

<div>
<button>Create Movie</button>
</div>


</form>
