<div class="">
  <h1>Add a New Movie</h1>
</div>

<form action="/create_movie">
  <label for="">Title</label>
  <div><input type="text" name="title"></div>
  <p></p>
  <label for="">Year</label>
  <div><input type="text" name="year" value=""></div>
  <p></p>
  <label for="">Duration</label>
  <div><input type="text" name="duration" value=""></div>
  <p></p>
  <label for="">Description</label>
  <div><textarea name="description" rows="8" cols="40" ></textarea></div>
  <p></p>
  <label for="">Image URL</label>
  <div><input type="text" name="image_url" value=""></div>
  <p></p>
  <div class="">
    <input type="submit" name="name" value="Submit">
  </div>

</form>
