<h1>Add Movie</h1>


<form action="/create_movie">
  <!-- Label and input for Title -->
  <div>
    <label for="title">
      Title
    </label>
    <input type="text" id="title" name="title" placeholder="Title">
  </div>

  <!-- Label and input for Year -->
  <div>
    <label for="year">
      Year
    </label>
    <input type="text" id="year" name="year" placeholder="Year">
  </div>

  <!-- Label and input for Duration -->
  <div>
    <label for="duration">
      Duration
    </label>
    <input type="text" id="duration" name="duration" placeholder="Duration">
  </div>

  <!-- Label and input for Description -->
  <div>
    <label for="description">
      Description
    </label>
    <textarea id="description" name="description" placeholder="description" rows="3"></textarea>
  </div>

  <!-- Label and input for image_url -->
  <div>
    <label for="image_url">
      Image url
    </label>
    <input type="text" id="image_url" name="image_url" placeholder="Image url">
  </div>

  <div>
    <button>Create Movie</button>
  </div>
</form>
