<h1>Add Director</h1>

<form action="/create_director">
<div>
  <label>Dob</label>
  <input type="text" name="dob" placeholder="Dob">
</div>

<div>
  <label>Name</label>
  <input type="text" name="name"placeholder="Name">
</div>

<div>
  <label>Bio</label>
  <input type="text" name="bio" placeholder="Bio">
</div>

<div>
  <label>Image url</label>
  <input type="text" name="image_url" placeholder="Image url">
</div>

<div>
  <button>Create Director</button>
</div>

</form>
