<h1>Add Director</h1>

<form action="/create_director">
  <label for="director_dob">Dob</label>
  <input type="text" name="director_dob">
  <label for="director_name">Name</label>
  <input type="text" name="director_name">
  <label for="director_bio">Bio</label>
  <input type="text" name="director_bio">
    <label for="director_url">Image url</label>
  <input type="text" name="director_url">
  <button>Create Director</button>
</form>
