<h1>Add New Director</h1>
<form action="/create_director/">

<div>
  <label>Dob</label>
  <input type="text" name="dob" value="">
</div>
<div>
  <label>Name</label>
  <input type="text" name="name" value="">
</div>
<div>
  <label>Bio</label>
  <input type="text" name="bio" value="">
</div>
<div>
  <label>Image URL</label>
  <input type="text" name="image_url" placeholder="Image url<" value="">

</div>
<div>
<button>Create Director</button>

</div>

</form>
