<div class="page-header">
<h1>Add Director</h1>
</div>

<form action="/create_director">

<div>
<label>Name</label>
</div>
<div>
<input name="name" placeholder="Name">
</div>

<div>
<label>Bio</label>
</div>
<div>
<textarea name="bio" placeholder="Bio"></textarea>
</div>

<div>
<label>DOB</label>
</div>
<div>
<input name="dob" placeholder="DOB">
</div>


<div>
<label>Image_URL</label>
</div>
<div>
<input name="image_url" placeholder="URL">
</div>

<div>
<button>Create Director</button>
</div>


</form>
