

<form action="/create_director" >
<p>
  <h1>Add director</h1>
</p>

  <label>dob</label>
  <input type="text" name="the_dob" value="">

  <label>name</label>
  <input type="text" name="the_name" value="">

  <label>bio</label>
  <input type="text" name="the_bio" value="">

  <label>image url</label>
  <input type="text" name="the_image" value="">

<!-- buttons inside a form are to activate the form action -->
  <button>CREATE DIRECTOR</button>

</form>
