<div class="page-header">
  <h1>Add Director</h1>
</div>

<form action="/create_director">
  <label>Dob</label>
  <input type="text" name="dob">
<label>Name</label>
  <input type="text" name="name">
<label>Bio</label>
  <input type="text" name="bio">
<label>Image url</label>
  <input type="text" name="image_url">
  
<button>Create Director</button>
</form>
