<h1>Add Actor</h1>
<form action="http://localhost:3000/create_actor">
  <label for="name">Name:</label>
  <input name="actor_name" id="name" type="text"><br>
  <label for="dob">Date of Birth:</label>
  <input name ="actor_dob" id="dob" type="text"><br>
  <label for="bio">Bio:</label>
  <input name ="actor_bio" id="bio" type="text"><br>
  <label for="url">Image URL:</label>
  <input name ="image_url" id="url" type="text"><br>
  <button>Create Actor</button>
</form>
