<div class="container">
    <div class="row greeting">
        <div class="col-sm-3">
<h1>Destroyed <%= @movie_title %></div></h1>

    </div>
    <a class="btn btn-primary" href="/movie" role="button">Go Back</a>
