<div class="container">
    <div class="row greeting margin-above-top-md">
        <div class="col-sm-3">
<h1>Add Director</h1>
          </div>
    </div>
    <hr>

    <form action="/directors/new_director">
  <div class="form-group">
    <label for="dob">Dob</label>
    <input type="text" class="form-control" name="dob" id="dob" placeholder="Dob">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="bio">Bio</label>
    <input type="text" class="form-control" name="bio" id="bio" placeholder="Bio">
  </div>
  <div class="form-group">
    <label for="image_url">Image url</label>
    <input type="text" class="form-control" name="image_url" id="image_url" placeholder="Image url">
  </div>

  <button type="submit" class="btn btn-primary">CREATE DIRECTOR</button>
</form>
