<h1>Add Director</h1>
<form action="http://localhost:3000/update_director">
  <label for="name">Name:</label>
  <input name="director_name" id="name" type="text"><br>
  <label for="dob">Date of Birth:</label>
  <input name ="director_dob" id="dob" type="text"><br>
  <label for="bio">Bio:</label>
  <input name ="director_bio" id="bio" type="text"><br>
  <label for="url">Image URL:</label>
  <input name ="image_url" id="url" type="text"><br>
  <button>Create Director</button>
</form>
