<h1><%= @director.name %></h1>
<hr>
<table>
  <tr>
    <tr>
      <td>Image</td>
      <td><img src="<%= @director.image_url %>"></td>
    </tr>
    <td>Date Birth</td>
    <td><%= @director.dob %></td>
  </tr>
  <tr>
    <td>Bio</td>
    <td><%= @director.bio %></td>
  </tr>
</table>
