<!DOCTYPE html>
<html>
<head>
  <title>MustSeeMoviesGoldenSeven</title>
</head>


<body>
    <div>
      <a href="/movies">Must See Movies Golden Seven</a>
    </div>

    <div>
      <ul>
        <li><a href="/directors">Directors</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/actors">Actors</a></li>
      </ul>
    </div>

    <%= yield %>
</body>
</html>
