<!DOCTYPE html>
<html>
<head>
  <title>MustSeeMoviesGoldenSeven</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<a href="/directors">Directores</a>
<a href="/actors">Actors</a>
<a href="/movies">Movies</a>
<body>

<%= yield %>

</body>
</html>
