<!DOCTYPE html>
<html>
<head>
  <title>MustSeeMoviesGoldenSeven</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row">
    <a href="/">Movies DB</a>
    <a href="/directors">Directors</a>
    <a href="/movies">Movies</a>
    <a href="/roles">Roles</a>
    <a href="/actors">Actors</a>

  </div>

</div>
<%= yield %>

</body>
</html>
